

#photographer {
    display: block;
    margin: auto;
    border: black 2px solid;
    width: 95%;
    max-width: 38.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#article {
    width: 95%;
    max-width: 37.5rem;
    text-align: center;
    margin: auto;
}