#form-container {
    padding: 1rem;
}

form {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
}

input, textarea {
    border: 2px black solid;
    width: 80vw;
    max-width: 38.5rem;
    padding: 1rem;
    text-align: center;
    margin: auto;
    margin-bottom: 1rem;
    font-size: 1rem;
}

.button {
    margin: auto;
}