#gallery {
    display: grid;
    grid-template-columns: 9rem 9rem;
    justify-content: center;
    gap: 0.5rem;

    margin-bottom: 1rem;
}

#gallery img {
    width: 9rem;
    height: 9rem;
    object-fit: cover;
    object-position: left;
    border: 1px black solid;
}

@media (min-width: 48em) {
    #gallery {
        display: grid;
        grid-template-columns: 12rem 12rem 12rem;
    }

    #gallery img {
        width: 12rem;
        height: 12rem;
    }
}