
#hero-container {
    position: relative;
}

#hero-text-container {
    left: 0;
    margin: 0;
    padding: 0 2%;
    position: absolute;
    top: 0;
    text-align: left;
    width: 96%;
}

#hero-image {
    width: 100%;
    min-height: 24rem;
    max-height: 30rem;
    display: block;
    object-fit: cover;
    object-position: center;
}

#hero-heading {
    background: white;
    color: black;
}

.hero-text {
    display: block;
    background: #252525;
    color: white;
    margin: 0.5rem;
    padding: 0.5rem;
    width: 90%;
    max-width: 30rem;
}

#read-more {
    display: inline-block;
    background: #36aca6;
    color: white;
    margin: 0.5rem;
    padding: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-decoration: none;
}

#read-more:hover {
    background: #20c3bc;
}

#photo-list {
    text-align: center;
}

.example-photo {
    display: block;
    margin: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    filter: grayscale(100%);
    object-position: top;
    object-fit: cover;
    width: 80vw;
    height: 80vw;
    max-width: 20rem;
    max-height: 20rem;
    border: 1px black solid;
}

@media (min-width: 48em) {

    #photo-list {
        display: flex;
        justify-content: center;
        gap: 3rem;
    }

    .example-photo {
        max-width: 15rem;
        max-height: 15rem;
    }
}