body {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
}

#logo {
    display: block;
    width: 300px;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#nav {
    margin-top: 1rem;
    margin-bottom: 1rem;
    position: absolute;
    width: 90%;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 9999;
}

#nav-list {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-link {
    background: #36aca6f9;
    color: white;
    border: 0.08rem white solid;
    border-top: none;
    margin: 0;
    display: block;
    padding: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-decoration: none;
    font-size: 1.25rem;
}

#index-link {
    border-top: 0.08rem white solid;
}

#index-link:hover,
#about-link:hover,
#gallery-link:hover,
#blog-link:hover,
#contact-link:hover {
    background: #000000c6;
}

#menu-button {
    width: 32px;
    background: #36aca6;
    padding: 0.5rem;
    border-radius: 0.15rem;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: block;
}

#footer {
    background: #252525;
    color: white;
    padding: 2rem;
    font-size: 0.75rem;
    text-align: center;
    margin-bottom: 2rem;
}

#page-header {
    background: black;
    color: #ffffff;
    font-size: 2.25rem;
    width: 95vw;
    max-width: 34rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    margin: auto;
    margin-bottom: 1rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#socials {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.fa-brands {
    font-size: 2.5rem;
    color: white;
}

.fa-brands:hover {
    opacity: 0.6;
}

@media (min-width: 48em) {

    #menu-button {
        display: none;
    }

    #nav-list {
        display: flex;
        gap: 4rem;
    }

    #nav {
        display: flex;
        justify-content: center;
        position: static;
        transform: none;
        left: 0;
        width: auto;
    }

    .nav-link {
        background: none;
        color: #252525;
        border: none;
        margin: 0;
        text-decoration: none;
        font-size: 1.25rem;
    }

    #index-link:hover,
    #about-link:hover,
    #gallery-link:hover,
    #blog-link:hover,
    #contact-link:hover {
        background: none;
        color: #36aca6;
    }
}